{% extends 'vendedor/baseVendedor.html' %}
{% block body %}
  <link rel="stylesheet" href="static/css/vendedor.css">
  <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
  <div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="carda">
                <a href="/RegistraProductos" >
                    <img src="static/img/completar.png" class="registrar" title="Registra Productos" alt="Completar">
                </a>
                <div class="card-body">
                    <h5 class="card-title" >Registrar Producto</h5>
                    <p class="card-text">Haz clic para agregar nuevos productos a tu tienda.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carda" >
                <a href="Productos" title="Ver tus productos">
                    <img src="static/img/ver.png" class="registrar"  alt="Completar">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Mis Productos</h5>
                    <p class="card-text">Ver y administrar tus productos.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
