{% extends 'comprador/baseComprador.html' %}

{% block body %}
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div class="container">
        <h1 class="my-4">Carrito de Compras</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos_carrito %}
                <tr>
                    <td>{{ producto[2] }}</td>
                    <td>${{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>${{ producto[3] * producto[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total: ${{ total }}</h3>
        <form action="/pagar" method="POST">
            <button type="submit" class="btn btn-success">Pagar</button>
        </form>
    </div>
</body>
{% endblock %}
