{% extends 'comprador/baseComprador.html' %}

{% block body %}
<body>
    <link rel="stylesheet" href="static/css/comprador/carrito.css">
    <div class="container-carrito">
        <div class="header">
            <a href="/Tienda" class="btn btn-secondary">Seguir comprando</a>
        </div>
        <h1 class="my-4">Revisa tu compra</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Artículo</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos_carrito %}
                <tr>
                    <td>{{producto.0}}</td>
                    <td>{{ producto.1 }}</td>
                    <td>${{ producto.2 }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>${{ producto.2* producto.3 }}</td>
                    <td>
    
                            <a href="/eliminarProducto/{{ producto.0 }}" title="Eliminar" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')" style="font-size: 0.8rem;">Eliminar</a>
                   
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-warning">Actualizar carrito</button>
        <div class="total-container">
            <h3>Total: ${{ total }}</h3>
            <form action="/pagar" method="POST">
                <button type="submit" class="btn btn-success">Finalizar tu compra</button>

            </form>
        </div>
    </div>
    
</body>



{% endblock %}
