{% extends 'comprador/baseComprador.html' %}

{% block body %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
    <script src="https://kit.fontawesome.com/81581fb069.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/comprador/compras.css">


    <section class="container top-categories">
        <h1 class="heading-1">Mejores Categorías</h1>
        <div class="container-categories">
            <div class="card-category category-moca">
                <p>Vegetales</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-expreso">
                <p>Frutas</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-capuchino">
                <p>Legumbres</p>
                <span>Ver más</span>
            </div>
        </div>
    </section>

    <section class="container top-products">
        <h1 class="heading-1">Mejores Productos</h1>

        <div class="container-products">
            <!-- Producto 1 -->
            {% for producto in producto1 %}
            <div class="card-product">
                <div class="container-img">
                    <img src="/static/uploads/papa.jpeg" alt="{{ producto.1 }}"/>
                    <div class="button-group">
                        <span>
                            <i class="fa-regular fa-eye"></i>
                        </span>
                    </div>
                </div>
                <form class="content-card-product" action="/agregar_al_carrito" method="POST">
                    <h3><input type="text" name="nombre_producto" value="{{ producto.1 }}" readonly></h3>
                    <p class="precio"><input type="text" name="precio_producto" value="${{ producto.4 }}" readonly></p>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" value="1" min="1">
                    </div>
                    <button type="submit" class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
        

         
    </section>

    <section class="gallery">
        <img
            src="/static/img/cultivo1.png"
            alt="Gallery Img1"
            class="gallery-img-1"
        /><img
            src="/static/img/cultivo2.png"
            alt="Gallery Img2"
            class="gallery-img-2"
        /><img
            src="/static/img/cultivo5.png"
            alt="Gallery Img3"
            class="gallery-img-3"
        /><img
            src="/static/img/cultivo4.png"
            alt="Gallery Img4"
            class="gallery-img-4"
        /><img
            src="/static/img/cultivo3.png"
            alt="Gallery Img5"
            class="gallery-img-5"
        />
    </section>

    <section class="container specials">
        <h1 class="heading-1">Todos nuestros productos</h1>
        <div class="container-products">
            <!-- Producto 1 -->
            {% for producto in producto2 %}
            <div class="card-product">
                <div class="container-img">
                    <img src="/static/img/tomate.png" alt="{{ producto.1 }}"/>
                    <div class="button-group">
                        <span>
                            <i class="fa-regular fa-eye"></i>
                        </span>
                    </div>
                </div>
                <form class="content-card-product" action="/agregar_al_carrito" method="POST">
                    <h3><input type="text" name="nombre_producto" value="{{ producto.1 }}" readonly></h3>
                    <p class="precio"><input type="text" name="precio_producto" value="${{ producto.4 }}" readonly></p>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" value="1" min="1">
                    </div>
                    <button type="submit" class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </section>
    
<footer class="pie-pagina">
    <div class="g1">
        <small>&copy; 2024 <b>LA</b> - Todos los derechos reservados. </small>
    </div>
</footer>
{% endblock %}