{% extends 'comprador/baseComprador.html' %}
{% block customCSS %}
<link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
<link rel="stylesheet" href="static/css/comprador/crud_compras.css">
{% endblock %}
{% block body %}

<div class="container-crud">
    <h1 title="Revisa tus compras" class="my-4">Revisa tus compras</h1>
    <div class="row">
        <div class="col">
            <form action="/Compras">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th title="Codigo" scope="col">Codigo</th>
                                <th title="Fecha" scope="col">Fecha</th>
                                <th title="Total" scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compra in compras %}
                                <tr>
                                    <td title="{{compra.0}}">{{ compra.0 }}</td>
                                    <td title="{{compra.2}}">{{ compra.2 }}</td>
                                    <td title="{{compra.3}}">{{ compra.3 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a title="Boton para atras" href="/Tienda" class="btn btn-secondary">Atras</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
