{% extends 'base.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block customCSS %}
<link rel="stylesheet" href="static/css/registro.css">
{% endblock %}

<div class="registro">
  <h1 title="Bienvenido">¡Bienvenido!</h1>
  <form action="/formulario" method="POST">
    <div class="box">
      <div class="campo">
        <label for="identificacion">Identificación</label>
        <input type="text" name="identificacion" id="identificacion" required><br>
      </div>
    

      <div class="campo">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" required><br>
      </div>

      <div class="campo">
        <label for="apellido">Apellido</label>
         <input type="text" name="apellido" id="apellido" required><br>
      </div>


  
      <div class="campo">
        <label for="genero">Género</label><br>
        <input type="radio" name="genero" id="generoMujer" value="Mujer" checked>
        <label for="generoMujer">Mujer</label>
        <input type="radio" name="genero" id="generoHombre" value="Hombre">
        <label for="generoHombre">Hombre</label><br>
      </div>
   

   
      <div class="campo">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required><br>
      </div>
   

  
      <div class="campo">
        <label for="telefono">Teléfono</label>
        <input type="tel" name="telefono" id="telefono" required><br>
      </div>
 
      <div class="campo">
        <label for="contrasena1">Contraseña</label>
        <input type="password" name="contrasena1" id="contrasena1" required><br>
        <label for="contrasena2">Confirmar Contraseña</label>
        <input type="password" name="contrasena2" id="contrasena2" required><br>
      </div>
    


      <div class="campo">
        <label for="rol">Rol</label>
        <select name="rol" id="rol" required>
        <option value="" disabled selected>Elige una opción</option>
        <option value="Comprador">Comprador</option>
        <option value="Vendedor">Vendedor</option>
        </select><br>
      </div>
  

    <button type="submit">Enviar</button>
  </form>
</div>
  <p>¿Ya tienes cuenta? <a href="/IniciaSesion">Inicia Sesión</a></p>
</div>
{% endblock %}